.bg-img1 {
  height: 500px;
  background-color: #000;
  background-size: cover;
  background-image: url(img/pexels-engin-akyurt-1435752.jpg);
}
.carousel-item {
  height: 500px;
}

.bg-img2 {
  height: 500px;
  background-color: #000;
  background-size: cover;
  background-image: url(img/pexels-rovenimagescom-949587.jpg);
}
.bg-img3 {
  height: 500px;
  background-color: #000;
  background-size: cover;
  background-image: url(img/pexels-suzy-hazelwood-1629236.jpg);
}